## list comphrensions

sequence	type	syntax
list	mutable	[]
tuple	immutable	()
dict	mutable	{}
string	immutable	“”
sets------mutable===={}

In [2]:
## [expression for variable in sequence]
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [3]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan'] 
capital = ['Gandhinagar', 'Mumbai', 'Jaipur']

In [5]:
output_dict = {}

In [6]:
for (key, value) in zip(state, capital): 
    output_dict[key] = value

In [7]:
print(output_dict)

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [8]:
dict_using_comp = {key:value for (key, value) in zip(state, capital)}

In [9]:
print(dict_using_comp)

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [10]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 100, i)]

In [11]:
print(noprimes)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [12]:
primes = [x for x in range(2, 100) if x not in noprimes]

In [13]:
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [48]:
>>> nested = [[1, 2], [3, 4, 5]]
>>> [x for s in nested for x in s]

[1, 2, 3, 4, 5]

In [49]:
>>> s1 = [1, 2, 3]
>>> s2 = [4, 5, 6]
>>> [(x, y) for x in s1 for y in s2]
[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

>>> [(x,y) for x in s1 for y in s2 if x+y>7]
[(2, 6), (3, 5), (3, 6)]

[(2, 6), (3, 5), (3, 6)]

In [53]:
#if i > 0: print(1./float(i))

In [55]:
>>> a = 5.1234
>>> round(a,2)

5.12

## important assignments

In [56]:
x, y, z = "ABC"

In [57]:
x, y, z

('A', 'B', 'C')

## del var

In [70]:
x = [1, 2]

In [71]:
del x[0]

In [72]:
x

[2]

In [73]:
del x

In [74]:
x

NameError: name 'x' is not defined

## id

In [75]:
 x = "first"
 y = x

In [76]:
 id(x)

2741412767088

In [77]:
id(y)

2741412767088

## lambda arguments : expression

In [14]:
x = lambda a : a + 10
print(x(5))

15

In [15]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [16]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [17]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

##  map() Function

In [18]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))

In [19]:
#convert the map into a list, for readability:
print(list(x))

[5, 6, 6]

In [21]:
##map(function, iterables)

In [22]:
def myfunc(a, b):
  return a + b
x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

In [24]:
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [25]:
def calculateSquare(n):
    return n*n


numbers = (1, 2, 3, 4)
result = map(calculateSquare, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x00000217279099C8>
{16, 1, 4, 9}

##  use lambda function with map()

In [26]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x*x, numbers)
print(result)

# converting map object to set
numbersSquare = set(result)
print(numbersSquare)

<map object at 0x0000021727909F08>
{16, 1, 4, 9}

## Passing Multiple Iterators to map() Using Lambda

In [27]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

## Filter

In [28]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

## filter() works for iterable list

In [29]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, alphabets)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

## filter() method works without the filter function

In [30]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0

## generators in python

Sequence  -----  type ----- syntax
lists          mutable        []
tuple         immutable       ()
dict           mutable        {}
string        immutable       ""

## Zip

In [47]:
for x,y in zip([1,2,3], [-1,-2,-3]):
    print(x+y)

0
0
0

# indexcing and slicing

## slices:substring

In [3]:
s="Hello"

In [4]:
print(s[1:4])

ell

In [5]:
print(s[-4:-1])

ell

In [6]:
print(s[1:-1])

ell

In [7]:
print(s[1:5])

ello

In [8]:
s[1:]

'ello'

In [9]:
s[:-1]

'Hell'

In [10]:
s[:-2]

'Hel'

In [11]:
s[:-5]

''

## slices: immutability of substring

In [13]:
s = 'Hello'
t = s  # s and t point to the same string
t = s[2:4]  # now t points to the new string 'll'
print(s)  # prints 'Hello' as s is not changed
print(t)

Hello
ll

## slices:  Subsequence

In [14]:
s = 'abcdefg'# stqrts from 0 index

In [15]:
print(s[1])# prints second elemnt because starting from zer

b

In [16]:
print(s[-1])

g

In [17]:
print(s[1:3])

bc

In [18]:
print(s[1:-1])

bcdef

In [19]:
print(s[:3])

abc

In [20]:
print(s[2:])

cdefg

In [21]:
print(s[:-1])

abcdef

In [22]:
print(s[::2])

aceg

In [23]:
print(s[1::2])

bdf

In [25]:
print(s[::-1])

gfedcba

## iterable

In [80]:
data = {"a":1,"b":2,"c":3}
for key in data:
    print(key)

a
b
c

In [83]:
s = "test"
for c in s:
    print(c)

t
e
s
t

## ITERATORS

In [85]:
>>> x = [1, 2, 3]
>>> iterx = iter(x)
print(tuple(iterx))

(1, 2, 3)

In [94]:
x = [1,2,3]
ix = iter(x)

In [101]:
>>> x = [1,2,3]
>>> ix = iter(x)
>>> ix.__next__()
>>> ix.__next__()
>>> ix.__next__()

3

## GENERATORS

In [81]:
s = 'Hello'

In [27]:
print(s.find('e'))

1

In [28]:
print(s.find('ll'))

2

In [29]:
print(s.find('L'))## if it is not found returns -1

-1

In [31]:
s = 'abracadabra'

In [32]:
print(s.find('b'))

1

In [33]:
print(s.rfind('b')) # returns the index of last occurence

8

In [34]:
s = 'my name is bond, james bond, okay?'

In [35]:
print(s.find('bond'))

11

In [36]:
print(s.find('bond', 12))

23

## Replace

In [ ]:
s.replace(old,new)

In [37]:
print('a bar is a bar, essentially'.replace('bar', 'pub'))

a pub is a pub, essentially

In [ ]:
s.replace(old,new,count)

In [38]:
print('a bar is a bar, essentially'.replace('bar', 'pub', 1))

a pub is a bar, essentially

##  Count

In [39]:
print('Abracadabra'.count('a'))

4

In [40]:
print(('aaaaaaaaaa').count('aa'))

5

## Lists

In [41]:
Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

In [42]:
len(Primes)

6

## different  ways for cratimg lists

In [2]:
#append()

In [4]:
## list operatons are
## concatination
a = [1, 2, 3]
b = [4, 5]
c = a + b
c

[1, 2, 3, 4, 5]

In [6]:
## repation
d = b * 3
d

[4, 5, 4, 5, 4, 5]

In [7]:
print([7, 8] + [9])

[7, 8, 9]

In [8]:
print([0, 1] * 3)

[0, 1, 0, 1, 0, 1]

In [9]:
a = [1, 2, 3, 4, 5]
for i in range(len(a)):
    print(a[i])

1
2
3
4
5

In [10]:
a = [1, 2, 3, 4, 5]
for elem in a:
    print(elem, end=' ')

1 2 3 4 5

In [15]:
s = input()# s == '1 2 3'
a = s.split( ) # a == ['1', '2', '3']
print(a)

1 2 3 4
['1', '2', '3', '4']

In [20]:
# lists are strings commonly to convert them to integers
a = input().split()
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

1 2 3 3
[1, 2, 3, 3]

In [21]:
type(a[1])

int

In [23]:
s = 'ab12c59p7dq'
digits = []
for symbol in s:
    if '1234567890'.find(symbol) != -1:
        digits.append(int(symbol))
print(digits)

[1, 2, 5, 9, 7]

In [24]:
a = input().split()
for i in range(len(a)):
    a[i] = int(a[i])
print(a)

1 2 3 4 5 67
[1, 2, 3, 4, 5, 67]

In [25]:
a = [int(s) for s in input().split()]
print(a)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [26]:
a = '192.168.0.1'.split('.')
print(a)

['192', '168', '0', '1']

In [30]:
a = ['red', 'green', 'blue']
print(' '.join(a))

red green blue

In [31]:
print(''.join(a))

redgreenblue

In [32]:
print('***'.join(a))

red***green***blue

In [ ]:
x in A      Check whether an item in the list. Returns True or False
x not in A   The same as not(x in A)
min(A)      The smallest element of list
max(A)       The largest element in the list
A.index(x)   The index of the first occurrence of element x in the list; in its absence generates an exception ValueError
A.count(x)    The number of occurrences of element x in the list

In [1]:
# diff between append and extend
>>> stack = ['a','b']
>>> stack.append('c')
>>> stack

['a', 'b', 'c']

In [2]:
>>> stack.append(['d', 'e', 'f'])
>>> stack
['a', 'b', 'c', ['d', 'e', 'f']]

['a', 'b', 'c', ['d', 'e', 'f']]

In [17]:
>>> stack = ['a', 'b', 'c']
>>> stack.extend(['d', 'e','f'])
>>> stack

['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
my_list=['a','b','a','n','v']

In [19]:
>>> my_list.remove('a')
>>> my_list

['b', 'a', 'n', 'v']

In [20]:
my_list.pop()

'v'

In [23]:
my=['d','l','g','r']
print(my.sort())

None

## two dimensional lists

In [2]:
a=[[1,2,3],
   [4,5,6]]
print(a)

[[1, 2, 3], [4, 5, 6]]

In [5]:
print(a[0])

[1, 2, 3]

In [6]:
print(a[1])

[4, 5, 6]

In [7]:
print(a[0][1])

2

In [8]:
print(a[0][2])

3

In [9]:
print(a[0][0])

1

In [11]:
a[0][1] = 7

In [12]:
print(a)

[[1, 7, 3], [4, 5, 6]]

In [15]:
b = a[0]

In [16]:
print(b)

[1, 7, 3]

In [17]:
b[2] = 9

In [18]:
print(b)

[1, 7, 9]

In [25]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j],end=' ')
    print()

1 2 3 4
5 6
7 8 9

In [26]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
for row in a:
    for elem in row:
        print(elem, end=' ')
    print()

1 2 3 4
5 6
7 8 9

In [27]:
for row in a:
    print(' '.join([str(elem) for elem in row]))

1 2 3 4
5 6
7 8 9

## sum of all the elements in array

## with range

In [28]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
s = 0
for i in range(len(a)):
    for j in range(len(a[i])):
        s += a[i][j]
print(s)

45

## with out range

In [29]:
a = [[1, 2, 3, 4], [5, 6], [7, 8, 9]]
s = 0
for row in a:
    for elem in row:
        s += elem
print(s)

45

In [2]:
m=int(input())
n=int(input())
a = [[0] * m] * n
print(a)

2
4
[[0, 0], [0, 0], [0, 0], [0, 0]]

In [7]:
n = 3
m = 4
a = [[0] * m for i in range(n)]
print(a)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [8]:
n = int(input()) 
a = []
for i in range(n):
    a.append([int(j) for j in input().split()])

3
1 2 3
2 3 4 5
3 4 5 6

In [9]:
diagonal equal to one 
above diagonal = 0
below dagonal  = 2 
n = 4
a = [[0] * n for i in range(n)]
for i in range(n):
    for j in range(n):
        if i < j:
            a[i][j] = 0
        elif i > j:
            a[i][j] = 2
        else:
            a[i][j] = 1
for row in a:
    print(' '.join([str(elem) for elem in row]))

1 0 0 0
2 1 0 0
2 2 1 0
2 2 2 1

In [10]:
n = 4
a = [[0] * n for i in range(n)]
for i in range(n):
    for j in range(0, i):
        a[i][j] = 2
    a[i][i] = 1
    for j in range(i + 1, n):
        a[i][j] = 0
for row in a:
    print(' '.join([str(elem) for elem in row]))

1 0 0 0
2 1 0 0
2 2 1 0
2 2 2 1

In [11]:
n = 4
a = [0] * n
a = [[2] * i + [1] + [0] * (n - i - 1) for i in range(n)]
for row in a:
    print(' '.join([str(elem) for elem in row]))

1 0 0 0
2 1 0 0
2 2 1 0
2 2 2 1

In [12]:
n = 4
a = [[0] * n for i in range(n)]
for i in range(n):
    for j in range(0, i):
        a[i][j] = 2
    a[i][i] = 1
    for j in range(i + 1, n):
        a[i][j] = 0
for row in a:
    print(' '.join([str(elem) for elem in row]))

1 0 0 0
2 1 0 0
2 2 1 0
2 2 2 1

## sets

Any immutable data type can be an element of a set: a number, a string, a tuple. Mutable (changeable) data types cannot be elements of the set. In particular, list cannot be an element of a set (but tuple can), and another set cannot be an element of a set. The requirement of immutability follows from the way how do computers represent sets in memory.

In [14]:
A = {1, 2, 3}
A = set('qwerty')
print(A)

{'t', 'w', 'y', 'e', 'r', 'q'}

In [15]:
A = {1, 2, 3}
B = {3, 2, 3, 1}
print(A == B)

True

In [16]:
type(A)

set

In [17]:
a=set('Hello')
print(a)

{'H', 'o', 'l', 'e'}

In [18]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## Change Items

## adding

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'cherry', 'orange', 'grapes', 'apple', 'banana', 'mango'}

##  length of a set

In [23]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## removing ele of set

In [24]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

Note: If the item to remove does not exist, remove() will raise an error.

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

Note: If the item to remove does not exist, discard() will NOT raise an error.

In [27]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [30]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## joing two sets

In [31]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 'a', 2, 'c', 3}

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 'a', 2, 'c', 3}